<div class="cbp-loadMore-block1">

    <div class="graphic web-design cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=500x325/200fcd" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="js/cubeportfolio/ajax/project13.html" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/3344f6" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Shopping Gallery<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Shopping Gallery</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>
    <div class="graphic logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=500x325/7f07fc" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="js/cubeportfolio/ajax/project14.html" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/923c25" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Timezone Mgmt<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Timezone Mgmt</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>
    <div class="graphic logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=500x325/797aa7" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="js/cubeportfolio/ajax/project15.html" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/8cafd0" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Story Book<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Story Book</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>
    <div class="identity web-design cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=500x325/df2374" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="js/cubeportfolio/ajax/project16.html" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/6c8096" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Website Lightbox<br>by Paul Flavius Nechita">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Website Lightbox</div>
        <div class="cbp-l-grid-projects-desc">Identity</div>
    </div>

</div>



<div class="cbp-loadMore-block2">

    <div class="graphic web-design cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=500x325/7dd8df" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="js/cubeportfolio/ajax/project17.html" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/900d09" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Mountaineer<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Mountaineer</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>
    <div class="identity logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=500x325/3a723b" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="js/cubeportfolio/ajax/project18.html" class="cbp-singlePage cbp-l-caption-buttonLeft">more info</a>
                        <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/4da764" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Archiview<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Archiview</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>

</div>
