<div class="cbp-l-project-title">Ski Buddy</div>
<div class="cbp-l-project-subtitle">Track your ski results, upload them to the apps server and compete with your friends or other ski fanatics.</div>

<div class="cbp-slider">
    <ul class="cbp-slider-wrap">
        <li class="cbp-slider-item">
            <div class="cbp-misc-video">
                <iframe src="//www.youtube.com/embed/4AivEQmfPpk" frameborder="0" allowfullscreen></iframe>
            </div>
        </li>
        <li class="cbp-slider-item">
            <div class="cbp-misc-video">
                <iframe src="//www.youtube.com/embed/T6DJcgm3wNY" frameborder="0" allowfullscreen></iframe>
            </div>
        </li>
        <li class="cbp-slider-item">
            <div class="cbp-misc-video">
                <iframe src="//www.youtube.com/embed/fnaojlfdUbs" frameborder="0" allowfullscreen></iframe>
            </div>
        </li>
    </ul>
</div>

<div class="cbp-l-project-container">
    <div class="cbp-l-project-desc">
        <div class="cbp-l-project-desc-title"><span>Project Description</span></div>
        <div class="cbp-l-project-desc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae aut ipsa non ex ullam atque suscipit ut dignissimos magnam!</div>
    </div>
    <div class="cbp-l-project-details">
        <div class="cbp-l-project-details-title"><span>Project Details</span></div>

        <ul class="cbp-l-project-details-list">
            <li><strong>Client</strong>John Doe</li>
            <li><strong>Date</strong>22 December 2013</li>
            <li><strong>Categories</strong>Logo, Graphic</li>
        </ul>
        <a href="#" target="_blank" class="cbp-l-project-details-visit">visit the site</a>
    </div>
</div>

<div class="cbp-l-project-container">
    <div class="cbp-l-project-related">
        <div class="cbp-l-project-desc-title"><span>Related Projects</span></div>

        <ul class="cbp-l-project-related-wrap">
            <li class="cbp-l-project-related-item">
                <a href="js/cubeportfolio/ajax/project5.html" class="cbp-singlePage cbp-l-project-related-link">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=500x325/603b82" alt="">
                    <div class="cbp-l-project-related-title">WhereTO App</div>
                </a>
            </li>
            <li class="cbp-l-project-related-item">
                <a href="js/cubeportfolio/ajax/project7.html" class="cbp-singlePage cbp-l-project-related-link">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=500x325/626a9e" alt="">
                    <div class="cbp-l-project-related-title">Seemple* Music for iPad</div>
                </a>
            </li>
            <li class="cbp-l-project-related-item">
                <a href="js/cubeportfolio/ajax/project8.html" class="cbp-singlePage cbp-l-project-related-link">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=500x325/e381ac" alt="">
                    <div class="cbp-l-project-related-title">Remind~Me More</div>
                </a>
            </li>
        </ul>

    </div>
</div>

<br>
<br>
<br>
