<div class="cbp-loadMore-block1">
    <div class="graphic web-design cbp-item">
        <div class="cbp-slider-inline">
            <div class="cbp-slider-wrapper">
                <div class="cbp-slider-item cbp-slider-item--active">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/717c2b" alt="">
                </div>
                <div class="cbp-slider-item">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/2fe88f" alt="">
                </div>
                <div class="cbp-slider-item">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/aed081" alt="">
                </div>
            </div>
            <div class="cbp-slider-controls">
                <div class="cbp-slider-prev"></div>
                <div class="cbp-slider-next"></div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Shopping Gallery</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>
    <div class="graphic logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/0cf7a7" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="js/cubeportfolio/ajax-juicy-projects/project14.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                        <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/cc8f56" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Timezone Mgmt<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Timezone Mgmt</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>
    <div class="graphic logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/097189" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="js/cubeportfolio/ajax-juicy-projects/project15.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                        <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/c90938" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Story Book<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Story Book</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>
    <div class="identity web-design cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/0ffedd" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="js/cubeportfolio/ajax-juicy-projects/project16.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                        <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/cf968c" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Website Lightbox<br>by Paul Flavius Nechita">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Website Lightbox</div>
        <div class="cbp-l-grid-projects-desc">Identity</div>
    </div>
</div>

<div class="cbp-loadMore-block2">
    <div class="graphic web-design cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/494bfe" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="js/cubeportfolio/ajax-juicy-projects/project17.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                        <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/89ca22" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Mountaineer<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Mountaineer</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>
    <div class="identity logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/0a4392" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="js/cubeportfolio/ajax-juicy-projects/project18.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                        <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/4ac2b6" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Archiview<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title">Archiview</div>
        <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
    </div>
</div>
