<div class="cbp-loadMore-block1">
    <div class="cbp-item web-design print motion">
        <a href="js/cubeportfolio/ajax-lightbox-gallery/project10.html" class="cbp-caption cbp-singlePageInline" data-title="Flat Roman Typeface Ui<br>by Cosmin Capitanu" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=380x285/8dc8ef" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Flat Roman Typeface Ui</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item graphic web-design logos">
        <a href="js/cubeportfolio/ajax-lightbox-gallery/project11.html" class="cbp-caption cbp-singlePageInline" data-title="Music Player<br>by Cosmin Capitanu" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=380x285/8b6ba0" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Music Player</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block2">
   <div class="cbp-item print motion identity">
        <a href="js/cubeportfolio/ajax-lightbox-gallery/project12.html" class="cbp-caption cbp-singlePageInline" data-title="Speed Detector<br>by Cosmin Capitanu" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=380x285/0c83ae" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Speed Detector</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item identity web-design print">
        <a href="js/cubeportfolio/ajax-lightbox-gallery/project13.html" class="cbp-caption cbp-singlePageInline" data-title="Sonor Website<br>by Cosmin Capitanu" rel="nofollow">
            <div class="cbp-caption-defaultWrap">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=380x285/0eb2ca" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Sonor Website</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
