<div class="cbp-l-project-title">Remind~Me More</div>
<div class="cbp-l-project-subtitle">Next step of the reminder widget in which you can see all the reminders you've set and ways to interact with them.</div>

<div class="cbp-slider">
    <ul class="cbp-slider-wrap">
        <li class="cbp-slider-item">
            <img src="http://scriptpie.com/cubeportfolio/img/?i=1200x900/f5928c" alt="">
        </li>
        <li class="cbp-slider-item">
            <img src="http://scriptpie.com/cubeportfolio/img/?i=1200x900/f0dd51" alt="">
        </li>
        <li class="cbp-slider-item">
            <img src="http://scriptpie.com/cubeportfolio/img/?i=1200x900/71f55f" alt="">
        </li>
    </ul>
</div>

<div class="cbp-l-project-container">
    <div class="cbp-l-project-desc">
        <div class="cbp-l-project-desc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae aut ipsa non ex ullam atque suscipit ut dignissimos magnam!</div>
    </div>
    <div class="cbp-l-project-details">
        <ul class="cbp-l-project-details-list">
            <li><strong>Client</strong>John Doe</li>
            <li><strong>Date</strong>22 July 2015</li>
            <li><strong>Categories</strong>Logo, Graphic</li>
        </ul>
        <a href="#" target="_blank" class="cbp-l-project-details-visit">OPEN PROJECT</a>
    </div>
</div>

<div class="cbp-l-project-container">
    <div class="cbp-l-project-related">
        <div class="cbp-l-project-desc-title"><span>Related Projects</span></div>

        <ul class="cbp-l-project-related-wrap">
            <li class="cbp-l-project-related-item">
                <a href="js/cubeportfolio/ajax-masonry-projects/project7.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/2d3e6d" alt="">
                    <div class="cbp-l-project-related-title">Seemple* Music for iPad</div>
                </a>
            </li>
            <li class="cbp-l-project-related-item">
                <a href="js/cubeportfolio/ajax-masonry-projects/project9.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/ae557b" alt="">
                    <div class="cbp-l-project-related-title">Workout Buddy</div>
                </a>
            </li>
            <li class="cbp-l-project-related-item">
                <a href="js/cubeportfolio/ajax-masonry-projects/project10.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/b08497" alt="">
                    <div class="cbp-l-project-related-title">Bills Bills Bills</div>
                </a>
            </li>
        </ul>

    </div>
</div>

<br><br><br>
