<div class="cbp-item graphic logos">
    <a href="js/cubeportfolio/ajax-awesome-work/project7.html" class="cbp-caption cbp-singlePage" rel="nofollow">
        <div class="cbp-caption-defaultWrap">
            <img src="http://scriptpie.com/cubeportfolio/img/?i=480x250/cc074b" alt="">
        </div>
        <div class="cbp-caption-activeWrap"></div>
    </a>
    <div class="cbp-l-grid-work-title">Seemple* Music</div>
    <div class="cbp-l-grid-work-desc">Graphic / Logo</div>
</div>
<div class="cbp-item identity graphic">
    <a href="js/cubeportfolio/ajax-awesome-work/project8.html" class="cbp-caption cbp-singlePage" rel="nofollow">
        <div class="cbp-caption-defaultWrap">
            <img src="http://scriptpie.com/cubeportfolio/img/?i=480x250/abc085" alt="">
        </div>
        <div class="cbp-caption-activeWrap"></div>
    </a>
    <div class="cbp-l-grid-work-title">Remind~Me More</div>
    <div class="cbp-l-grid-work-desc">Identity / Graphic</div>
</div>
<div class="cbp-item web-design graphic">
    <a href="js/cubeportfolio/ajax-awesome-work/project9.html" class="cbp-caption cbp-singlePage" rel="nofollow">
        <div class="cbp-caption-defaultWrap">
            <img src="http://scriptpie.com/cubeportfolio/img/?i=480x250/a87680" alt="">
        </div>
        <div class="cbp-caption-activeWrap"></div>
    </a>
    <div class="cbp-l-grid-work-title">Workout Buddy</div>
    <div class="cbp-l-grid-work-desc">Web Design / Graphic</div>
</div>
<div class="cbp-item identity web-design">
    <a href="js/cubeportfolio/ajax-awesome-work/project10.html" class="cbp-caption cbp-singlePage" rel="nofollow">
        <div class="cbp-caption-defaultWrap">
            <img src="http://scriptpie.com/cubeportfolio/img/?i=480x250/d4c3bb" alt="">
        </div>
        <div class="cbp-caption-activeWrap"></div>
    </a>
    <div class="cbp-l-grid-work-title">Bills Bills Bills</div>
    <div class="cbp-l-grid-work-desc">Identity / Web Design</div>
</div>