<div class="cbp-l-project-title">Events and More</div>
<div class="cbp-l-project-subtitle">Just attent parties by having the app pinpoint awesome events near your location - Invite Friends and Have More Fun.</div>

<div class="cbp-slider">
    <ul class="cbp-slider-wrap">
        <li class="cbp-slider-item">
            <img src="http://scriptpie.com/cubeportfolio/img/?i=1200x900/70dece" alt="">
        </li>
        <li class="cbp-slider-item">
            <img src="http://scriptpie.com/cubeportfolio/img/?i=1200x900/f0dd51" alt="">
        </li>
        <li class="cbp-slider-item">
            <img src="http://scriptpie.com/cubeportfolio/img/?i=1200x900/71f55f" alt="">
        </li>
    </ul>
</div>

<div class="cbp-l-project-container">
    <div class="cbp-l-project-desc">
        <div class="cbp-l-project-desc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae aut ipsa non ex ullam atque suscipit ut dignissimos magnam!</div>
    </div>
    <div class="cbp-l-project-details">
        <ul class="cbp-l-project-details-list">
            <li><strong>Client</strong>John Doe</li>
            <li><strong>Date</strong>22 July 2015</li>
            <li><strong>Categories</strong>Logo, Graphic</li>
        </ul>
        <a href="#" target="_blank" class="cbp-l-project-details-visit">OPEN PROJECT</a>
    </div>
</div>

<div class="cbp-l-project-container">
    <div class="cbp-l-project-related">
        <div class="cbp-l-project-desc-title"><span>Related Projects</span></div>

        <ul class="cbp-l-project-related-wrap">
            <li class="cbp-l-project-related-item">
                <a href="js/cubeportfolio/ajax-awesome-work/project3.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=480x250/cc074b" alt="">
                    <div class="cbp-l-project-related-title">To-Do Dashboard</div>
                </a>
            </li>
            <li class="cbp-l-project-related-item">
                <a href="js/cubeportfolio/ajax-awesome-work/project5.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=480x250/4d1f59" alt="">
                    <div class="cbp-l-project-related-title">WhereTO App</div>
                </a>
            </li>
            <li class="cbp-l-project-related-item">
                <a href="js/cubeportfolio/ajax-awesome-work/project6.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=480x250/4f4e75" alt="">
                    <div class="cbp-l-project-related-title">Ski * Buddy</div>
                </a>
            </li>
        </ul>

    </div>
</div>

<br><br><br>
