@media only screen and (min-width: 1001px) {
  /* line 3, ../sass/screen.scss */
  .one-page-has-left {
    padding-left: 200px;
    position: relative;
  }
  /* line 6, ../sass/screen.scss */
  .one-page-has-left .header-section {
    position: fixed;
    border: none;
    left: 0px;
    top: 0px !important;
    width: 300px;
    height: 100%;
    overflow: auto;
    z-index: 99999;
    background: #fff !important;
	border-right: 1px solid #f0f0f0;
  }
  .one-page-has-left.dark-style .header-section {
    background: #101010 !important;
	border-right: 1px solid #101010;
  }
  /* line 16, ../sass/screen.scss */
  .one-page-has-left .header-section .col-sm-2, .one-page-has-left .header-section .col-sm-10 {
    float: none;
    width: auto;
  }
  /* line 20, ../sass/screen.scss */
  .one-page-has-left .header-section ul {
    padding: 0px 0 0px;
    list-style: none;
    float: none;
    text-align: center;
  }
  .one-page-has-left.align-left .header-section ul {
    text-align: left;
	margin: 10px 0 0 0;
  }
  /* line 25, ../sass/screen.scss */
  .one-page-has-left .header-section ul li {
    float: none;
    position: relative;
  }
  /* line 28, ../sass/screen.scss */
  .one-page-has-left .header-section ul li .arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 0px;
    cursor: pointer;
    z-index: 999;
  }
  /* line 37, ../sass/screen.scss */
  .one-page-has-left .header-section ul li .arrow:before {
    content: "";
    background: #242424;
    position: absolute;
    top: 4px;
    left: 0px;
    width: 10px;
    height: 2px;
  }
  .one-page-has-left.dark-style .header-section ul li .arrow:before {
    background: #fff;
  }
  /* line 46, ../sass/screen.scss */
  .one-page-has-left .header-section ul li .arrow:after {
    content: "";
    background: #242424;
    position: absolute;
    top: 0px;
    left: 4px;
    height: 10px;
    width: 2px;
  }
  .one-page-has-left.dark-style .header-section ul li .arrow:after {
    background: #fff;
  }
  /* line 59, ../sass/screen.scss */
  .one-page-has-left .header-section ul li.hover > a, .one-page-has-left .header-section ul li.active > a {
    color: #25d6a2;
  }
  /* line 66, ../sass/screen.scss */
  .one-page-has-left .header-section ul li.hover > .arrow:after {
    display: none;
  }
  /* line 71, ../sass/screen.scss */
  .one-page-has-left .header-section ul li.hover > ul {
    display: block;
  }
  /* line 75, ../sass/screen.scss */
  .one-page-has-left .header-section ul li a {
    color: #101010;
    padding: 10px 20px;
    display: inline-block;
  }
  .one-page-has-left.dark-style .header-section ul li a {
    color: #838282;
    padding: 10px 20px;
    display: inline-block;
  }
  
  /* line 79, ../sass/screen.scss */
  .one-page-has-left .header-section ul li a i {
    font-size: 20px;
    margin-left: 10px;
  }
  /* line 85, ../sass/screen.scss */
  .one-page-has-left .header-section ul li.active > a {
    color: #25d6a2;
  }
  .one-page-has-left.dark-style .header-section ul li:hover > a {
    color: #25d6a2;
  }
  /* line 90, ../sass/screen.scss */
  .one-page-has-left .header-section ul li.mega-menu ul {
    max-height: none;
    opacity: 1;
  }
  /* line 93, ../sass/screen.scss */
  .one-page-has-left .header-section ul li.mega-menu ul li {
    float: none;
    width: 100%;
    padding: 0 0 0 15px;
  }
  .one-page-has-left.dark-style .header-section ul li.mega-menu ul {
	  background-color:#101010;
  }
  .one-page-has-left.dark-style .header-section ul ul li {
     background-color:#101010;
  }
  
  /* line 97, ../sass/screen.scss */
  .one-page-has-left .header-section ul li.mega-menu ul li a {
    padding: 5px 20px;
  }
  /* line 102, ../sass/screen.scss */
  .one-page-has-left .header-section ul li.mega-menu ul {
    max-height: 0px;
    overflow: hidden;
  }
  /* line 108, ../sass/screen.scss */
  .one-page-has-left .header-section ul li.mega-menu.hover > ul {
    max-height: 1000px;
  }
  /* line 113, ../sass/screen.scss */
  .one-page-has-left .header-section ul li ul {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all .3s !important;
    transition: all .3s !important;
  }
  /* line 121, ../sass/screen.scss */
  .one-page-has-left .header-section ul li.hover > ul {
    max-height: 1000px;
  }
  /* line 127, ../sass/screen.scss */
  .one-page-has-left .header-section ul ul {
    position: relative;
    top: 0px !important;
    left: auto !important;
    right: auto !important;
    margin: 0px;
    max-height: none;
    opacity: 1;
    width: 100% !important;
  }
  /* line 136, ../sass/screen.scss */
  .one-page-has-left .header-section ul ul li {
    border: none;
    padding-left: 0px !important;
    width: auto !important;
  }
  /* line 144, ../sass/screen.scss */
  .one-page-has-left .header-section .logo {
    padding: 30px 0px 0;
    display: block;
  }
  .one-page-has-left .header-section .logo.left-padd {
    padding: 30px 0px 0 15px;
  }
  .one-page-has-left .header-section .divider-line {
	  width:80%;
	  height:1px;
	  float:left;
	  margin:15px 10% 0 10%;
	  background-color:#101010;
  }
  .one-page-has-left .header-section .divider-line.light {
	  background-color:#727272;
  }
  .one-page-has-right .header-section .divider-line {
	  width:80%;
	  height:1px;
	  float:left;
	  margin:0px 10% 20px 10%;
	  background-color:#101010;
  }
  .one-page-has-right .header-section .divider-line.light {
	  background-color:#fff;
  }
  /* line 149, ../sass/screen.scss */
  .one-page-has-left .main-nav .nav.top-nav {
    float: none;
  }
  /* line 152, ../sass/screen.scss */
  .one-page-has-left .main-nav .nav.top-nav li a {
    padding-right: 20px;
  }
  /* line 157, ../sass/screen.scss */
  .one-page-has-left #menu {
    float: none;
  }

  /* line 163, ../sass/screen.scss */
  .one-page-has-right {
    position: relative;
  }
  /* line 165, ../sass/screen.scss */
  .one-page-has-right.active .header-section {
    width: 300px;
  }
  /* line 169, ../sass/screen.scss */
  .one-page-has-right.active:before {
    opacity: .6;
    z-index: 30;
  }
  /* line 174, ../sass/screen.scss */
  .one-page-has-right .view-menu {
    position: fixed;
    top: 20px;
    right: 40px;
    color: #fff;
    z-index: 20;
    font-size: 40px;
    cursor: pointer;
  }
  .one-page-has-right.dark-icon .view-menu {
    color: #fff;
    padding: 15px;
    font-size: 20px;
    background-color: #101010;
}
 .one-page-has-right.white-icon .view-menu {
    color: #101010;
    padding: 15px;
    font-size: 20px;
    background-color: #fff;
}
  /* line 184, ../sass/screen.scss */
  .one-page-has-right:before {
    background: #000;
    content: "";
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  /* line 197, ../sass/screen.scss */
  .one-page-has-right .header-section {
    position: fixed;
    border: none;
    right: 0px;
    top: 0px !important;
    width: 0px;
    height: 100%;
    overflow: hidden;
    z-index: 99999;
    left: auto;
    -webkit-transition: all .2s !important;
    transition: all .2s !important;
    background: #fff !important;
  }
  /* line 209, ../sass/screen.scss */
  .one-page-has-right .header-section .container {
    width: 300px;
    overflow: auto;
    position: absolute;
    top: 0px;
    height: 100%;
    left: 0px;
  }
  /* line 218, ../sass/screen.scss */
  .one-page-has-right .header-section .col-sm-2, .one-page-has-right .header-section .col-sm-10 {
    float: none;
    width: auto;
  }
  /* line 222, ../sass/screen.scss */
  .one-page-has-right .header-section ul {
    padding: 0px 0 0px;
    list-style: none;
    float: none;
    text-align: center;
  }
  /* line 227, ../sass/screen.scss */
  .one-page-has-right .header-section ul li {
    float: none;
    position: relative;
  }
  /* line 230, ../sass/screen.scss */
  .one-page-has-right .header-section ul li .arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 0px;
    cursor: pointer;
    z-index: 999;
  }
  /* line 239, ../sass/screen.scss */
  .one-page-has-right .header-section ul li .arrow:before {
    content: "";
    background: #242424;
    position: absolute;
    top: 4px;
    left: 0px;
    width: 10px;
    height: 2px;
  }
  /* line 248, ../sass/screen.scss */
  .one-page-has-right .header-section ul li .arrow:after {
    content: "";
    background: #242424;
    position: absolute;
    top: 0px;
    left: 4px;
    height: 10px;
    width: 2px;
  }
  /* line 261, ../sass/screen.scss */
  .one-page-has-right .header-section ul li.hover > a, .one-page-has-right .header-section ul li.active > a {
    color: #25d6a2;
  }
  /* line 268, ../sass/screen.scss */
  .one-page-has-right .header-section ul li.hover > .arrow:after {
    display: none;
  }
  /* line 273, ../sass/screen.scss */
  .one-page-has-right .header-section ul li.hover > ul {
    display: block;
  }
  /* line 277, ../sass/screen.scss */
  .one-page-has-right .header-section ul li a {
    color: #101010;
    padding: 15px 20px;
    display: inline-block;
  }
  /* line 281, ../sass/screen.scss */
  .one-page-has-right .header-section ul li a i {
    font-size: 20px;
    margin-left: 10px;
  }
  /* line 287, ../sass/screen.scss */
  .one-page-has-right .header-section ul li.active > a {
    color: #25d6a2;
  }
  /* line 292, ../sass/screen.scss */
  .one-page-has-right .header-section ul li.mega-menu ul {
    max-height: none;
    opacity: 1;
  }
  /* line 295, ../sass/screen.scss */
  .one-page-has-right .header-section ul li.mega-menu ul li {
    float: none;
    width: 100%;
    padding: 0 0 0 15px;
  }
  /* line 299, ../sass/screen.scss */
  .one-page-has-right .header-section ul li.mega-menu ul li a {
    padding: 5px 20px;
  }
  /* line 304, ../sass/screen.scss */
  .one-page-has-right .header-section ul li.mega-menu ul {
    max-height: 0px;
    overflow: hidden;
  }
  /* line 310, ../sass/screen.scss */
  .one-page-has-right .header-section ul li.mega-menu.hover > ul {
    max-height: 1000px;
  }
  /* line 315, ../sass/screen.scss */
  .one-page-has-right .header-section ul li ul {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all .3s !important;
    transition: all .3s !important;
  }
  /* line 323, ../sass/screen.scss */
  .one-page-has-right .header-section ul li.hover > ul {
    max-height: 1000px;
  }
  /* line 329, ../sass/screen.scss */
  .one-page-has-right .header-section ul ul {
    position: relative;
    top: 0px !important;
    left: auto !important;
    right: auto !important;
    margin: 0px;
    max-height: none;
    opacity: 1;
    width: 100% !important;
  }
  /* line 338, ../sass/screen.scss */
  .one-page-has-right .header-section ul ul li {
    border: none;
    padding-left: 0px !important;
    width: auto !important;
  }
  /* line 346, ../sass/screen.scss */
  .one-page-has-right .header-section .logo {
    padding: 30px 0px 0;
    display: block;
  }
  /* line 351, ../sass/screen.scss */
  .one-page-has-right .main-nav .nav.top-nav {
    float: none;
  }
  /* line 354, ../sass/screen.scss */
  .one-page-has-right .main-nav .nav.top-nav li a {
    padding-right: 20px;
  }
  /* line 359, ../sass/screen.scss */
  .one-page-has-right #menu {
    float: none;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 367, ../sass/screen.scss */
  .view-menu {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {

.one-page-has-left .header-section {
    width: 230px;
}


}
@media only screen and (max-width: 1000px) {
.one-page-has-left .header-section {
    width: 100%;
	background-color:#fff;
}
.one-page-has-left .header-section ul li a {
    color: #101010;
}
.one-page-has-left.dark-style .header-section {
    width: 100%;
	background-color:#101010;
}
.one-page-has-left.dark-style .header-section ul li a {
    color: #fff;
}
.one-page-has-right .header-section {
    background-color: #fff;
}
.one-page-has-right .header-section ul li a {
    color: #101010;
} 
  
  
  
  
  
}