/*
Template: 
category: Corporate
Author: Codelayers
Version: 1.0
Design and Developed by: Codelayers
*/


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/

/*============ Feature boxes ============ */


/* title line
 ------------------------------ */
.ce-sub-text {
	width: 50%;
	margin:15px auto 0 auto;
}
.ce-sub-text.less-width {
	width: 50%;
	margin:15px auto 0 auto;
}
.ce-sub-text.align-left {
	width: 80%;
	margin:15px auto 0 0;
}

.ce-title-line {
	position:relative;
	width: 26px;
	height:2px;
	float:left;
	left:-50px;
	top:20px;
	background-color:#14bbf2;
}
.ce-title-line.white {
	background-color:#fff !important;
}
.ce-title-line.align-left {
	width: 12%;
	height:2px;
	background-color:#ff971c;
	margin:15px 88% 0 auto;
}


/* feature box 1
 ------------------------------ */
 
.ce-feature-box-1 {
	position: relative;
    width: 100%;
	padding:80px;
    float: left;
	top:-90px;
	z-index:2;
	margin-bottom:100px;
	border-radius:5px;
	transition: all 0.3s ease-out 0s;
	background-color:#fff;
}
.ce-feature-box-1.notop {
	top:0;
	margin-bottom:0;
}

.ce-feature-box-1 .price-circle {
	width: 130px;
	height: 130px;
	padding: 38px 0 0;
	border-radius: 100%;
	background-color: #fff;
	border:2px solid #efefef;
	margin-top:10px;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-1 .price-circle .price {
	color: #242424;
	font-size:28px;
	padding: 8px 0 0 0;
	font-weight:700;
	text-align: center;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-1 .price-circle i {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	text-align:center;
	padding-left:50px;
	color:#14bbf2;
}
.ce-feature-box-1 .price-circle .price sup {
	font-size: 18px;
	font-style: normal;
}
.ce-feature-box-1 ul.plan_features {
	width: 100%;
	float: left;
	text-align: center;
	padding: 0px;
	margin: 0px 0px 50px 0;
}
.ce-feature-box-1 ul.plan_features li {
	padding: 10px 0;
	text-align:left;
	/*border-bottom: 1px solid #e9e9e9;*/
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-1 ul.plan_features li i {
	color:#14bbf2;
}
.ce-feature-box-1 ul.plan_features li span i {
	color:#ff2f16;
}

.ce-feature-box-1 ul.plan_features li:last-child {
	border-bottom: none;
}

/* hover styles
 ------------------------------ */
.ce-feature-box-1:hover .price-circle,
.ce-feature-box-1.active .price-circle {
	border:2px solid #14bbf2;
}
.ce-feature-box-1:hover,
.ce-feature-box-1.active {
	background-color:#14bbf2;
}
.ce-feature-box-1:hover ul.plan_features li i,
.ce-feature-box-1.active ul.plan_features li i {
	color:#fff;
}
.ce-feature-box-1:hover ul.plan_features li span i,
.ce-feature-box-1.active ul.plan_features li span i {
	color:#ff2f16;
}
.ce-feature-box-1:hover .title,
.ce-feature-box-1.active .title {
	color:#fff;
}
.ce-feature-box-1:hover .btn.btn-prim,
.ce-feature-box-1.active .btn.btn-prim {
	color:#000;
	background-color:#fff;
}



.ce-feature-box-1:hover ul.plan_features li,
.ce-feature-box-1.active ul.plan_features li {
	color:#fff;
	/*border-bottom: 1px solid rgba(255, 255, 255, 0.5);*/
}
.ce-feature-box-1:hover ul.plan_features li:last-child,
.ce-feature-box-1.active ul.plan_features li:last-child {
	border-bottom: none;
}



/* feature box 2
 ------------------------------ */

.ce-feature-box-2{
	width:100%;
	float:left;
}
.ce-feature-box-2 .main-box{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
	overflow:hidden;
}
.ce-feature-box-2 .main-box.shadow{
	transition: all 0.3s ease-out 0s;
	box-shadow: 0 20px 20px rgba(0,0,0,0.14);
	-webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.14);
}
.ce-feature-box-2 .main-box .img-box{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
	background-color:#fff;
}
.ce-feature-box-2 .main-box .img-box.white{
	background-color:#fff;
}
.ce-feature-box-2 .main-box .img-box .overlay{
	position: absolute;
	width:90%;
	height:90%;
	left:-280px;
	margin:5% 0 0 5%;
	padding:30px;
	float:left;
	transition: all 0.3s ease-out 0s;
	background-color: #14bbf2;
}
.ce-feature-box-2 .main-box img{
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-2 .main-box .img-box{
	position:relative;
	width:100%;
	float:left;
	border-radius:5px;
	overflow:hidden;
}
.ce-feature-box-2:hover .img-box img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.ce-feature-box-2 .main-box .text-box{
	width:100%;
	padding:40px 0 40px 0;
	float:left;
	background-color:#fff;
		
}
.ce-feature-box-2 .main-box.shadow .text-box{
	padding:40px 0 40px 0;		
}
.ce-feature-box-2 .main-box .text-box .title{
	color:#101010;
		
}
.ce-feature-box-2 .main-box .text-box .subtext{
	color:#fff;
	padding:3px 10px;
	display:inline-block;
	margin-top:15px;
	border-radius:3px;
	background-color:#14bbf2;
		
}
.ce-feature-box-2 .main-box .img-box .overlay .small-text{
	position: absolute;
	color:#fff;
	top:80px;
	left:10px;
	transition: all 0.3s ease-out 0s;		
}
.ce-feature-box-2 .main-box .img-box .overlay .sc-icons{
	position: absolute;
	width:100%;
	top:180px;
	display:inline-block;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-2 .main-box .img-box .overlay .sc-icons li{
	padding: 0px;
	margin: 0px;
	display:inline-block;
}
.ce-feature-box-2 .main-box .img-box .overlay .sc-icons li a{
	float:left;
	font-size:15px;
	color:#fff;
	line-height:0px;
	margin: 0px;
	padding:7px;
	display:inline-block;
	border-radius:100%;
}                      
.ce-feature-box-2:hover .main-box .img-box .overlay{
	left:0;
}
.ce-feature-box-2:hover .main-box.shadow{
-webkit-box-shadow: 1px 4px 20px -2px rgba(0,0,0,0.2);
  box-shadow: 1px 4px 20px -2px rgba(0,0,0,0.2);
  transform: translateY(-8px);
}
.ce-feature-box-2.border{
	border:1px solid #ebebeb;
}


/* feature box 3
 ------------------------------ */

.ce-feature-box-3{
	width:100%;
	float:left;
}

.ce-feature-box-3 .img-box{
	position: relative;
	width:100%;
	float:left;
	z-index:1;
	margin-bottom:180px;
}
.ce-feature-box-3 .img-box .text-box{
	position: absolute;
	width:86%;
	float:left;
	z-index:2;
	top:200px;
	left:6%;
	padding:40px 60px;
	border-radius:5px;
	background-color:#fff;
	box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.02);
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-3 .img-box .date-box{
	position: absolute;
	float:left;
	z-index:3;
	padding:20px;
	color:#fff;
	font-size:24px;
	font-weight: 600;
	margin-bottom:180px;
	background-color:#14bbf2;
}

.ce-feature-box-3 .img-box .text-box .content{
	margin-bottom:20px;
}
.ce-feature-box-3:hover .img-box .text-box{
	top:190px;
	background-color:#14bbf2;
}
.ce-feature-box-3:hover .img-box .text-box .title{
	color:#fff;
}
.ce-feature-box-3:hover .img-box .text-box .read-more{
	color:#fff;
}
.ce-feature-box-3:hover .img-box .text-box .read-more i{
	color:#fff;
}
.ce-feature-box-3:hover .img-box .text-box .content{
	color:#fff;
}


/* feature box 4
 ------------------------------ */

.ce-feature-box-4{
	width:100%;
	float:left;
}

.ce-feature-box-4 .img-box{
	position: relative;
	width:100%;
	float:left;
	z-index:1;
	margin-bottom:180px;
}
.ce-feature-box-4 .img-box .text-box{
	position: absolute;
	width:86%;
	float:left;
	z-index:2;
	top:300px;
	left:6%;
	padding:40px 60px;
	border-radius:5px;
	background-color:#fff;
	box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.02);
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-4 .img-box .date-box{
	position: absolute;
	float:left;
	z-index:3;
	padding:20px;
	color:#fff;
	left:20px;
	top:20px;
	font-size:14px;
	font-weight: 600;
	margin-bottom:180px;
	background-color:#14bbf2;
}
.ce-feature-box-4 .img-box .date-box span{
	font-size:20px;
	font-weight: 600;
}

.ce-feature-box-4 .img-box .text-box .content{
	margin-bottom:20px;
}


/* feature box 5
 ------------------------------ */

.ce-feature-box-5{
	width:100%;
	float:left;
}
.ce-feature-box-5 .icon{
	color:#14bbf2;
	padding:10px 0 0 0;
}

.ce-feature-box-5 .text-box-right .inner-box{
	padding:0 0 0 30px;
	border-left: 2px solid #f0f0f0;
}


/* feature box 6
 ------------------------------ */
.ce-feature-box-6{
	width:100%;
	float:left;
	padding:60px;
	border-radius:5px;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-6 .icon{
	color:#fff;
	border-radius:5px;
	background-color:#14bbf2;
}
.ce-feature-box-6 .title{
	color:#000;
}
 .ce-feature-box-6 .text-box{
	width:100%;
	padding:20px;
	
}

 .ce-feature-box-6 .text-box .top-line{
	width:20px;
	height:2px;
	margin:0 auto;
	background-color:#14bbf2;
}


.ce-feature-box-6.active{
	background-color:#14bbf2;
}
.ce-feature-box-6.active .icon{
	color:#fff;
}
.ce-feature-box-6.active .title{
	color:#fff;
}
.ce-feature-box-6.active .content{
	color:#fff;
}

.ce-feature-box-6.border{
	border:1px solid #eeeeee;
}
/* featurebox 7
 ------------------------------ */
.ce-feature-box-7 {
	position:relative;
    width: 100%;
    float: left;
	background-color:#fff;
}

.ce-feature-box-7 .play-btn-img {
	position:absolute;
    width: 130px;
	height:130px;
    float: left;
	top: 205px;
	left: 38%;
	z-index:4;
}
.ce-feature-box-7 .play-btn-img.pos-1 {
	top: 103px;
	left: 41%;
}
.ce-feature-box-7 .img-box{
	position: absolute;
	width:90%;
	float:left;
	z-index:2;
}
.ce-feature-box-7 .bgbox{
	position: relative;
	width:90%;
	height:500px;
	top: -30px;

left: 5%;
	float:left;
	z-index:1;
	border:5px solid #14bbf2;
}


/* feature box 8
 ------------------------------ */

.ce-feature-box-8{
	position:relative;
	width:100%;
	float:left;
	padding:0px;
	margin-bottom:135px;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
	
}
.ce-feature-box-8 .name-box{
	position:absolute;
	width:90%;
	float:left;
	padding:40px;
	z-index:11;
	left:4%;
	bottom:-25%;
	box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.02);
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
	
}
.ce-feature-box-8 .name-box .name span{
	border-bottom:1px solid #fff;
	padding:8px 0;	
}
.ce-feature-box-8 .name-box .name{
	color:#000;
}
.ce-feature-box-8 .name-box .desig{
	padding-top:10px;
	color:#14bbf2;
	
}
.ce-feature-box-8 .img-list{
	width:100%;
	float:left;
}

.ce-feature-box-8 .img-box{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
	overflow:hidden;
}
.ce-feature-box-8 .img-box img {
  transition: all 0.3s ease-out 0s;
}
.ce-feature-box-8:hover .img-box img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.ce-feature-box-8 .img-box .overlay{
	position: absolute;
	width:100%;
	height:100%;
	padding:40px;
	float:left;
	opacity:0;
}

.ce-feature-box-8 .img-box .overlay .text-box{
	position: absolute;
	width:79%;
	padding:30px;
	float:left;
	top:-200px;
	transition: all 0.3s ease-out 0s;
	background-color:#14bbf2;
}

.ce-feature-box-8 .img-box .overlay .text-box p{
	color:#fff;
}
.ce-feature-box-8 .img-box .overlay .text-box .title{
	color:#fff;
}
.ce-feature-box-8 .img-box .overlay .text-box .sub-text{
	color:#fff;
}

.ce-feature-box-8 .img-box .overlay .text-box .sc-icons{
	width:100%;
	padding: 0px;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-8 .img-box .overlay .text-box .sc-icons li{
	padding: 0px;
	margin: 0px;
	display:inline-block;
}
.ce-feature-box-8 .img-box .overlay .text-box .sc-icons li a{
	width:40px;
	float:left;
	font-size:15px;
	color:#fff;
	line-height:0px;
	margin: 0px;
	display:inline-block;
	border-radius:100%;
}
.ce-feature-box-8 .img-box .overlay .text-box .sc-icons li a:hover{
	color:#000;
}
.ce-feature-box-8 .img-box .overlay .text-box .overlay{
	top:0px;
}
.ce-feature-box-8:hover .img-box .overlay .text-box{
	top:220px;
}
.ce-feature-box-8:hover .img-box .overlay{
	opacity:1;
}



/* feature box 10
 ------------------------------ */

.ce-feature-box-10{
	width:100%;
	float:left;
	padding:60px;
	border-radius:5px;
	background-color:#fff;
	border:1px solid #f1f1f1;
	transition: all 0.3s ease-out 0s;	
}

.ce-feature-box-10 h6{
	color:#727272;	
}

/* feature box 11
 ------------------------------ */

.ce-feature-box-11{
	width:100%;
	float:left;
	margin-bottom:100px;
}
.ce-feature-box-11 .title{
	font-size:60px;
	font-weight:700;
	color:#fff;
}

.ce-feature-box-11 .icon{
	color:#14bbf2;
	padding-bottom:20px;
	display:inline-block;
}
.ce-feature-box-11.no-margin{
	margin-bottom:0;
}


/* feature box 12
 ------------------------------ */

.ce-feature-box-12{
	width:100%;
	float:left;
	padding:80px 0 0 0;
}

/* feature box 13
 ------------------------------ */
.ce-feature-box-13{
	width:100%;
	float:left;
	padding:50px;
	background-color:#fff;
}
.ce-feature-box-13 .icon{
	color:#14bbf2;
	margin-bottom:10px;
}

/*primary*/
.ce-feature-box-13.primary{
	background-color:#14bbf2;
}
.ce-feature-box-13.primary .icon{
	color:#fff;
}
.ce-feature-box-13.primary .title{
	color:#fff;
}



/* feature box 14
 ------------------------------ */
.ce-feature-box-14{
	width:100%;
	float:left;
	padding:40px;
}

/* feature box 15
 ------------------------------ */
.ce-feature-box-15{
	position:relative;
	width:100%;
	float:left;
	margin-bottom:500px;
}
.ce-feature-box-15 .img-box{
	position: absolute;
	width:100%;
	float:left;
	z-index:2;
	background-color:#fff;
}

.ce-feature-box-15 .img-box .overlay{
	position: absolute;
	width:100%;
	height:100%;
	float:left;
	transition: all 0.3s ease-out 0s;	
	background-color: rgba(0, 0, 0, 0.06);
}
.ce-feature-box-15 .img-box .overlay.nobg{	
	background-color: transparent;
}
.ce-feature-box-15 .img-box .overlay .scbox{
	width:100%;
	opacity:0;
	padding:80px;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-15 .img-box .overlay .scbox .content{
	color:#fff;
}
.ce-feature-box-15 .img-box .overlay .scbox ul.social-icons {
	position:absolute;
    width: 100%;
	top:0px;
	padding-left:0px;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-15 .img-box .overlay .scbox .social-icons li {
    display: inline-block;
    text-align: center;
	
}
.ce-feature-box-15 .img-box .overlay .scbox .social-icons li a {
    color: #14bbf2;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 39px;
    margin: 0 5px 5px 0;
    padding: 0;
	overflow:hidden;
    text-align: center;
    width: 40px;
	background-color:#fff;
	border-radius:50%;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-15 .img-box .overlay .scbox .social-icons li a:hover {
    color: #fff;
	background-color:#000;
}
.ce-feature-box-15 .img-box .overlay .text-box{
	position: absolute;
	width:84%;
	float:left;
	bottom:0px;
	padding:50px 50px 30px 50px;
	background-color: #fff;
}
.ce-feature-box-15 .img-box .overlay .text-box.primary{
	background-color: #14bbf2;
}

.ce-feature-box-15 .img-box .overlay .text-box.pos-1{
	left: 30px;
	bottom:-50px;
}
.ce-feature-box-15:hover .img-box .overlay{
	background-color: rgba(20, 187, 242, 0.9);
}

.ce-feature-box-15:hover .img-box .overlay .scbox{
	opacity:1;
}
.ce-feature-box-15:hover .img-box .overlay .scbox ul.social-icons {
	top:150px;
}

/* feature box 16
 ------------------------------ */
 
.ce-feature-box-16 {
	width:100%;
	float:left;
	padding:60px;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
	
}
.ce-feature-box-16.border {
	border:1px solid #f1f1f1;
	
}
 .ce-feature-box-16:hover{
  transform: translateY(-8px);
}

.ce-feature-box-16 .subtext{
	 color:#14bbf2;
}
.ce-feature-box-16 .title{
	 color:#000;
}


/*primary*/

.ce-feature-box-16.primary {
	background-color:#14bbf2;	
}
.ce-feature-box-16.primary .subtext{
	 color:#fff;
}
.ce-feature-box-16.primary .title{
	 color:#fff;
}
.ce-feature-box-16.primary .content{
	 color:#fff;
}

/* Feature Box 17
 ------------------------------ */
.ce-feature-box-17 {
	width: 100%;
	padding: 60px;
	border: 1px solid #f1f1f1;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-17 .icon{
	color: #14bbf2;
}
.ce-feature-box-17:hover, .ce-feature-box-17.active {
	background-color: #14bbf2;
	border: 1px solid #14bbf2;
}
.ce-feature-box-17:hover .icon-plain-medium {
	color: #fff;
}
.ce-feature-box-17:hover h4, .ce-feature-box-13:hover p, .feature-box-7.active h4, .ce-feature-box-13.active p {
	color: #fff;
}
.ce-feature-box-17:hover .content,.ce-feature-box-17.active .content{
	color: #fff;
}
.ce-feature-box-17:hover .title, .ce-feature-box-17.active .title{
	color: #fff;
}
.ce-feature-box-17:hover .icon, .ce-feature-box-17.active .icon{
	color: #fff;
}

/* feature box 18
 ------------------------------ */
.ce-feature-box-18{
	width:100%;
	float:left;
	padding:80px;
	background-color:#fff;
	border:1px solid #f1f1f1;
}

/* feature box 19
 ------------------------------ */

.ce-feature-box-19{
	width:100%;
	float:left;
	padding:70px;
	border-top:5px solid #14bbf2;
	border-left:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
	transition: all 0.3s ease-out 0s;
	background-color:#fff;
}
.ce-feature-box-19.no-shadow{
	-webkit-box-shadow: none;
  box-shadow: none;
}
.ce-feature-box-19 .icon{
	color:#14bbf2;
}
 .ce-feature-box-19:hover{
	box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.03);
-webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.03);
	transform: translateY(-10px);
}

/*active*/

.ce-feature-box-19.active{
	border-top:5px solid #242424;
	border-left:1px solid #14bbf2;
	border-right:1px solid #14bbf2;
	border-bottom:1px solid #14bbf2;
	background-color:#14bbf2;
}
.ce-feature-box-19.active .icon{
	color:#fff;
}
.ce-feature-box-19.active .content{
	color:#fff;
}
.ce-feature-box-19.active .title{
	color:#fff;
}


/* feature box 20
 ------------------------------ */
.ce-feature-box-20{
	width:100%;
	float:left;
}
.ce-feature-box-20 .icon{
	color:#14bbf2;
	border-radius:10px;
	background-color:#fff;
}
.ce-feature-box-20 .content{
	color:#fff;
}
.ce-feature-box-20 .title{
	color:#fff;
}

/* feature box 21
 ------------------------------ */
 .ce-feature-box-21{
	width:100%;
	padding:100px;
}

/* feature box 22
 ------------------------------ */
.ce-feature-box-22 {
	width:100%;
	float:left;
	padding:10px;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
		box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.01);
-webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.01);
}
.ce-feature-box-22 .img-box {
	position:relative;
	width:100%;
	float:left;
}
.ce-feature-box-22 .img-box .overlay {
	position:absolute;
	width:100%;
	height:100%;
	float:left;
	transition: all 0.3s ease-out 0s;
	
}

.ce-feature-box-22:hover {
		box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.03);
-webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.03);
	transform: translateY(-10px);
}

/* feature box 23
 ------------------------------ */
.ce-feature-box-23{
	width:100%;
	float:left;
	padding:20px;
	border-radius:10px;
	background-color:#fff;
}
.ce-feature-box-23 .img-box{
	position: relative;
	width:100%;
	float:left;
	z-index:2;
	border-radius:10px;
	overflow:hidden;
	border:1px solid #f1f1f1;
	background-color:#fff;
}

.ce-feature-box-23 .img-box .overlay{
	position: absolute;
	width:100%;
	height:100%;
	float:left;
	transition: all 0.3s ease-out 0s;	
	background-color: rgba(0, 0, 0, 0.02);
}

.ce-feature-box-23 .text-box{
	width:100%;
	float:left;
	padding:25px 0 10px 0;
}

.ce-feature-box-23:hover .img-box .overlay{	
	background-color: rgba(20, 187, 242, 0.9);
}

.ce-feature-box-23 .img-box .overlay ul.social-icons {
	position:absolute;
    width: 100%;
	top:0px;
	opacity:0;
	padding-left:35px;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-23 .img-box .overlay .social-icons li {
    display: inline-block;
    text-align: center;
	
}
.ce-feature-box-23 .img-box .overlay .social-icons li a {
    color: #14bbf2;
    display: inline-block;
    font-size: 14px;
	width: 34px;
    height: 34px;
    line-height: 39px;
    margin: 0 5px 5px 0;
    padding: 0;
	overflow:hidden;
    text-align: center;
	background-color:#fff;
	border-radius:50%;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-23 .img-box .overlay .social-icons li a:hover {
    color: #fff;
	background-color:#000;
}

.ce-feature-box-23:hover .img-box .overlay ul.social-icons {
	opacity:1;
	top:100px;
}

/* feature box 24
 ------------------------------ */
.ce-feature-box-24{
	width:100%;
	float:left;
	padding:0;
}
.ce-feature-box-24 .icon{
	color:#fff;
	background-color:#14bbf2;
}


/* feature box 25
 ------------------------------ */

.ce-feature-box-25{
	width:100%;
	float:left;
}

.ce-feature-box-25 .img-box{
	width:100%;
	float:left;
	border-radius:5px;
	margin-bottom:10px;
}
.ce-feature-box-25 .text-box{
	width:100%;
	float:left;
	padding:40px 60px;
	border-radius:5px;
	background-color:#fff;
	box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.02);
	transition: all 0.3s ease-out 0s;
}

/* feature box 26
 ------------------------------ */

.ce-feature-box-26 {
    background-color: #fff;
    float: left;
    padding: 20px;
    width: 100%;
}
.ce-feature-box-26 .img-box {
	position:relative;
    border: 1px solid #f1f1f1;
    float: left;
    padding: 0;
    width: 100%;
	overflow:hidden;
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-26 .img-box .icon-box {
    background-color: rgba(20, 187, 242, 0.9);
    float: left;
    height: 86%;
    margin: 7% 0 0 7%;
    opacity: 0;
    padding: 0;
    position: absolute;
    transition: all 0.3s ease-out 0s;
    width: 86%;
    z-index: 2;
}
.ce-feature-box-26 .img-box .icon-box .sc-icons {
    display: inline-block;
    margin-left: 0;
    margin-top: 50px;
    padding-left: 0;
    transition: all 0.3s ease-out 0s;
    width: 100%;
}
.ce-feature-box-26 .img-box .icon-box .sc-icons li {
    display: inline-block;
    padding: 0;
}
.ce-feature-box-26 .img-box .icon-box .sc-icons li a {
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    color: #101010;
    display: inline-block;
    height: 40px;
    line-height: 37px;
    padding: 0;
    text-align: center;
    width: 40px;
}
.ce-feature-box-26 .img-box .icon-box .sc-icons li a:hover {
    background-color: #101010;
    border: 1px solid #101010;
    color: #fff;
    display: inline-block;
}
.ce-feature-box-26:hover .img-box .icon-box, .ce-feature-box-26.active .img-box .icon-box {
    opacity: 1;
}
.ce-feature-box-26:hover .img-box .icon-box .sc-icons {
    margin-top: 100px;
}
.ce-feature-box-26 .img-box img{
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-26:hover .img-box img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* featurebox 27
 ------------------------------ */
.ce-feature-box-27 {
	position:relative;
    width: 100%;
    float: left;
}

.ce-feature-box-27 .play-btn-img {
	position:absolute;
    width: 130px;
	height:130px;
    float: left;
	top:43%;
	left:47%;
	z-index:4;
}
.ce-feature-box-27 .content {
	position:absolute;
    width: 100%;
    float: left;
	text-align:center;
	padding:360px 0 0 0;
	z-index:3;
}

.ce-feature-box-27 .play-btn-img.pos-1 {
	top:32%;
	left:47%;
}
.ce-feature-box-27 .content.pos-1 {
	padding:300px 0 0 0;
}

/* feature box 28
 ------------------------------ */
.ce-feature-box-28 {
	width:100%;
	float:left;
	padding:30px;
	background-color:#fff;
	border:1pxsolid #f1f1f1;
	transition: all 0.3s ease-out 0s;
		box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.01);
-webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.01);
}
.ce-feature-box-28 .img-box {
	position:relative;
	width:100%;
	float:left;
}
.ce-feature-box-28 .img-box .overlay {
	position:absolute;
	width:100%;
	height:100%;
	float:left;
	transition: all 0.3s ease-out 0s;
	
}

.ce-feature-box-28:hover {
		box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.03);
-webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.03);
	transform: translateY(-10px);
}


/* feature box 29
 ------------------------------ */

.ce-feature-box-29{
	width:100%;
	float:left;
}

.ce-feature-box-29 .img-box{
	position: relative;
	width:100%;
	float:left;
	z-index:1;
	margin-bottom:210px;
}
.ce-feature-box-29 .img-box .text-box{
	position: absolute;
	width:86%;
	float:left;
	z-index:2;
	top:230px;
	left:6%;
	padding:40px 50px;
	border-radius:5px;
	border:1px solid #f1f1f1;
	background-color:#fff;
	box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.02);
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-29 .img-box .date-box{
	position: absolute;
	float:left;
	z-index:3;
	padding:20px;
	color:#fff;
	left:20px;
	top:20px;
	font-size:14px;
	font-weight: 600;
	margin-bottom:180px;
	background-color:#14bbf2;
}
.ce-feature-box-29 .img-box .date-box span{
	font-size:20px;
	font-weight: 600;
}

.ce-feature-box-29 .img-box .text-box .content{
	margin-bottom:20px;
}
.ce-feature-box-29 .img-box .text-box .title{
	margin-bottom:10px;
}




.ce-feature-box-30{
	width:100%;
	float:left;
}

.ce-feature-box-30 .input-1 {
     background-color: transparent;
     border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    float: left;
    height: 45px;
    margin-bottom: 15px;
    padding: 8px;
    transition: all 0.3s ease-out 0s;
    width: 100%;
}
.ce-feature-box-30 .input-1:focus {
    border: 1px solid #fff;
    outline: medium none !important;
    transition: all 0.3s ease-out 0s;
}
.ce-feature-box-30.lable-text{
	color:#101010;
}
.ce-feature-box-30 .textaria-1 {
   background-color: transparent;
     border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    float: left;
    height: 100px;
    margin-bottom: 15px;
    padding: 8px;
/*	resize: none;*/
    transition: all 0.3s ease-out 0s;
    width: 100%;
}
.ce-feature-box-30 .textaria-1:focus {
    border: 1px solid #fff;
    outline: medium none !important;
    transition: all 0.3s ease-out 0s;
}
.ce-feature-box-30 .form-body.bg-dark .lable-text {
	color:#fff;
}

/* feature box 31
 ------------------------------ */
 .ce-feature-box-31{
	width:100%;
	padding:0;	
}
 .ce-feature-box-31 .img-box{
	width:100%;
	border-radius:10px;
	padding-bottom:15px;
}
 .ce-feature-box-31 .img-box img{
	border-radius:10px;
}
 .ce-feature-box-31 .text-box{
	width:100%;
	padding:60px;
	border-radius:10px;
	background-color:#fff;
}
 .ce-feature-box-31 .text-box .top-line{
	width:40px;
	height:2px;
	left: 0;
	top: 0;
	background-color:#14bbf2;
}

 .ce-feature-box-31 .text-box.border{
	 border:1px solid #eeeeee;
}


/* feature box 32
 ------------------------------ */
.ce-feature-box-32{
	width:100%;
	float:left;
}
.ce-feature-box-32 .icon{
	color:#727272;
	border-radius:10px;
	background-color:#fff;
}
.ce-feature-box-32 .content{
	color:#727272;
}
.ce-feature-box-32 .title{
	color:#fff;
}


/* feature box 33
 ------------------------------ */

.ce-feature-box-33{
	width:100%;
	float:left;
}

.ce-feature-box-33 .img-box{
	position: relative;
	width:100%;
	float:left;
	z-index:1;
	margin-bottom:180px;
}
.ce-feature-box-33 .img-box .text-box{
	position: absolute;
	width:86%;
	float:left;
	z-index:2;
	top:495px;
	left:6%;
	border:1px solid #f1f1f1;
	padding:40px 60px;
	border-radius:5px;
	background-color:#fff;
	box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.02);
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-33.style-2 .img-box .text-box{
	top:295px;
	left:6%;
}
.ce-feature-box-33.style-2 .img-box {
    margin-bottom: 65px;

}



.ce-feature-box-33 .img-box .date-box{
	position: absolute;
	float:left;
	z-index:3;
	padding:20px;
	color:#fff;
	left:20px;
	top:20px;
	font-size:14px;
	font-weight: 600;
	margin-bottom:180px;
	background-color:#14bbf2;
}
.ce-feature-box-33 .img-box .date-box span{
	font-size:20px;
	font-weight: 600;
}

.ce-feature-box-33 .img-box .text-box .content{
	margin-bottom:20px;
}



/* feature box 34
 ------------------------------ */

.ce-feature-box-34{
	width:100%;
	float:left;
}

.ce-feature-box-34 .img-box{
	position: relative;
	width:100%;
	float:left;
	z-index:1;
	margin-bottom:180px;
}
.ce-feature-box-34 .img-box .text-box{
	position: absolute;
	width:86%;
	float:left;
	z-index:2;
	top:495px;
	left:6%;
	border:1px solid #f1f1f1;
	padding:40px 60px;
	border-radius:5px;
	background-color:#fff;
	box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.02);
	transition: all 0.3s ease-out 0s;
}
.ce-feature-box-34 .img-box .date-box{
	position: absolute;
	float:left;
	z-index:3;
	padding:20px;
	color:#fff;
	left:20px;
	top:20px;
	font-size:14px;
	font-weight: 600;
	margin-bottom:180px;
	background-color:#14bbf2;
}
.ce-feature-box-34 .img-box .date-box span{
	font-size:20px;
	font-weight: 600;
}

.ce-feature-box-34 .img-box .text-box .content{
	margin-bottom:20px;
}

























































































/* price table 1
 ------------------------------ */
.ce-price-table-1 {
    width: 100%;
	padding:20px;
    float: left;
	margin-top:50px;
	transition: all 0.3s ease-out 0s;
	background-color:#fff;
	border:1px solid #ebebeb;
}

.ce-price-table-1 .inner-box {
    width: 100%;
	padding:80px 40px;
    float: left;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.ce-price-table-1 .inner-box .price-circle {
	width: 130px;
	height: 130px;
	padding: 38px 0 0;
	margin: 0 auto;
	background-color: #fff;
	transition: all 0.3s ease-out 0s;
}
.ce-price-table-1 .inner-box .price-circle .price {
	color: #ff971c;
	font-size:70px;
	padding: 8px 0 0 0;
	font-weight:700;
	text-align: center;
	transition: all 0.3s ease-out 0s;
}
.ce-price-table-1 .inner-box .price-circle span {
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	padding-top:10px;
	color: #ff971c;
}
.ce-price-table-1 .inner-box .price-circle .price sup {
	position:relative;
	font-size:30px;
	font-weight:400;
	top:-40px;
	font-style: normal;
}
.ce-price-table-1 ul.plan_features {
	width: 100%;
	float: left;
	text-align: center;
	padding: 0px;
	margin: 0px 0px 50px 0;
}
.ce-price-table-1 ul.plan_features li {
	padding: 8px 0;
	font-size:16px;
	transition: all 0.3s ease-out 0s;
}
.ce-price-table-1 ul.plan_features li:last-child {
	border-bottom: none;
}
.ce-price-table-1.active {
 -webkit-box-shadow: 0px 15px 30px 0px rgba(25, 40, 70, 0.20);
    box-shadow: 0px 15px 30px 0px rgba(25, 40, 70, 0.20);
}




/* Price Table 2
 -----------------------------------------------*/
 
.ce-price-table-2 {
	position:relative;
	width: 100%;
	padding: 40px 0 70px 0;
	float: left;
	text-align:center;
	transition: all 0.3s ease-out 0s;
	background-color:#242424;
}
.ce-price-table-2.border-right {
	border-right:1px solid rgba(255, 255, 255, 0.5)
}
.ce-price-table-2.border-right {
	border-right:1px solid #393939;
}
.ce-price-table-2 .price {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    line-height: 20px;
    padding: 35px 0;
    text-align: center;
}
.ce-price-table-2 .price sup {
    font-size: 22px;
    font-style: normal;
}
.ce-price-table-2 .price i {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.ce-price-table-2 .title-box {
	width:100%;
	color:#fff;
	float:left;
	padding:45px 0 15px 0;
	vertical-align:middle;
	border-bottom:1px solid #393939;
}
.ce-price-table-2.first-table .title-box {
	padding:15px 0 15px 0;
}
.ce-price-table-2.first-table{
	margin-top:83px;
}
.ce-price-table-2 .title-box .title {
	color:#fff;
}
.ce-price-table-2 .features-list {
	width:100%;
	padding:0;
	margin:0px;
	float:left;
}
.ce-price-table-2 .features-list li {
	width:100%;
	padding:15px 0;
	margin:0px;
	float:left;
	color:#727272;
	border-bottom:1px solid #393939;
}
.ce-price-table-2 .features-list li i.green-4 {
	color:#80b604;
	font-size:18px;
}
.ce-price-table-2 .features-list li i.red {
	color:#ff2f16;
	font-size:18px;
}
.ce-price-table-2 .features-list li i.white {
	color:#fff;
	font-size:18px;
}
.ce-price-table-2 .features-list li:last-child {
	border-bottom:none;
}
.ce-price-table-2 .features-list li:nth-child(even) {
	background-color:#2a2a2a;
}
.ce-price-table-2.active .features-list li:nth-child(even) {
	background-color:#ff971c;
}
.pricetable-top-bg-strip {
	width: 100%;
	padding:0px;
	margin:0px;
	float:left;
	height:25px;
	background-color:transparent;
}
.ce-price-table-2.active {
	background-color:#ff971c;
	padding-bottom:100px;
	padding-top:65px;
}
.ce-price-table-2.active .features-list li {
	color:#fff;
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
.ce-price-table-2.active .title-box {
	color:#fff;
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
}




/* price table 3
 ------------------------------ */
.ce-price-table-3 {
	position:relative;
    width: 100%;
	padding:30px;
    float: left;
	background-color:#f5f5f5;
	transition: all 0.3s ease-out 0s;
}
.ce-price-table-3.style-2 {
	background-color:#fff;
}
.ce-price-table-3.style-2 .list-box {
	background-color:#f5f5f5;
}
.ce-price-table-3 .ribbon {
	position: absolute;
    width:115px;
	height:145px;
	right: -9px;
	top: -14px;
    float: right;
}
.ce-price-table-3 .price-box {
	width:100%;
	margin: 0 auto;
	color: #04ce47;
	padding:30px 0 20px 0;
	border-top: 1px solid rgba(220, 220, 220, 0.3);
	transition: all 0.3s ease-out 0s;
}
.ce-price-table-3 .price-box .price {
	color: #04ce47;
	font-size:36px;
	padding: 10px 0 0 0;
	font-weight:700;
	text-align: center;
	transition: all 0.3s ease-out 0s;
}
.ce-price-table-3 .price-box .price i {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
}
.ce-price-table-3 .price-box .price sup {
	font-size: 18px;
	font-style: normal;
}

.ce-price-table-3 .list-box {
	width: 100%;
	float: left;
	padding: 50px;
	margin:5px 0 0 0;
	background-color:#fff;
}

.ce-price-table-3 ul.plan_features {
	width: 100%;
	float: left;
	text-align: center;
	padding: 0px;
	margin: 0px 0px 50px 0;
}
.ce-price-table-3 ul.plan_features li {
	padding: 15px 0;
	border-bottom: 1px solid rgba(220, 220, 220, 0.3);
	transition: all 0.3s ease-out 0s;
}
.ce-price-table-3 ul.plan_features li:last-child {
	border-bottom: none;
}

/* hover styles
 ------------------------------ */
.ce-price-table-3:hover, .ce-price-table-3.active {
	background-color:#242930;
}
.ce-price-table-3:hover .title, .ce-price-table-3.active .title {
	color:#fff;
}
.ce-price-table-3:hover .list-box, .ce-price-table-3.active .list-box  {
	background-color:#04ce47;
}
.ce-price-table-3:hover .list-box ul.plan_features li, .ce-price-table-3.active .list-box ul.plan_features li  {
	color:#fff;
}
.ce-price-table-3:hover .list-box .btn.btn-prim, .ce-price-table-3.active .list-box .btn.btn-prim  {
	color:#242424;
	background-color:#fff;
}
.ce-price-table-3:hover .price-box, .ce-price-table-3.active .price-box {
	border-top:1px solid rgba(255, 255, 255, 0.1);
}














.input-1 {
     background-color: #fff;
     border: 1px solid #e4e4e4;
    color: #101010;
    float: left;
    height: 45px;
    margin-bottom: 15px;
    padding: 8px;
    transition: all 0.3s ease-out 0s;
    width: 100%;
}
.input-1:focus {
    border: 1px solid #04ce47;
    outline: medium none !important;
    transition: all 0.3s ease-out 0s;
}
.lable-text{
	color:#101010;
}
.textaria-1 {
    background-color: #fff;
     border: 1px solid #e4e4e4;
    color: #fff;
    float: left;
    height: 100px;
    margin-bottom: 15px;
    padding: 8px;
/*	resize: none;*/
    transition: all 0.3s ease-out 0s;
    width: 100%;
}
.textaria-1:focus {
    border: 1px solid #04ce47;
    outline: medium none !important;
    transition: all 0.3s ease-out 0s;
}
.form-body.bg-dark .lable-text {
	color:#fff;
}



/* corporate pages
 ------------------------------ */
.cp-feature-box-1{
	width:100%;
	padding:0px;
	float:left;
	min-height:645px;
}
.cp-feature-box-1 .img-box{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
}
.cp-feature-box-1 .img-box .overlay{
	width:100%;
	height:100%;
	padding:0px;
	float:left;
	z-index:2;
	background-color:rgba(0, 0, 0, 0.2);
}
.cp-feature-box-1 .img-box .text-box{
	position: absolute;
	width:80%;
	padding:50px;
	float:left;
	left:0px;
	bottom:-185px;
	z-index:3;
	background-color:#fff;
	transition: all 0.3s ease-out 0s;
}
.cp-feature-box-1 .img-box .text-box .sc-icons-box{
	position: absolute;
	width:80%;
	padding:0px;
	margin:0px;
	top:-53px;
	left:0px;
	float:left;
	opacity:0;
	overflow:hidden;
	z-index:3;
	background-color: #ff971c;
	transition: all 0.3s ease-out 0s;
}
.cp-feature-box-1 .img-box .text-box .sc-icons-box .sc-icons{
	width:100%;
	margin:0px;
	padding-left:0px;
	text-align:center;
}
.cp-feature-box-1 .img-box .text-box .sc-icons-box .sc-icons li{
	display:inline-block;
}
.cp-feature-box-1 .img-box .text-box .sc-icons-box .sc-icons li a{
	padding:15px 7px;
	color:#fff;
	text-align:center;
	display:inline-block;
}
.cp-feature-box-1:hover .img-box .text-box .sc-icons-box,
.cp-feature-box-1.active .img-box .text-box .sc-icons-box{
	left:110px;
	opacity:1;
}
.cp-feature-box-1:hover .img-box .text-box, .cp-feature-box-1.active .img-box .text-box{
	background-color:#101010;
}
.cp-feature-box-1:hover .img-box .text-box .title, .cp-feature-box-1.active .img-box .text-box .title{
	color:#fff;
}



/* innerpage 2
 ------------------------------ */
 .cp-feature-box-2{
	width:100%;
	float:left;
	padding:0px;
	margin:0;
}

.cp-feature-box-2 .text-box{
	width:100%;
	float:left;
	padding:100px;
	background-color:#fff;
}




/*============ Progress circles ============ */

.percent{
	width:180px;
	height:180px;
	margin:0 auto;
}
.percent-2{
	width:200px;
	height:200px;
	margin:0 auto;
}
.percent-3{
	width:200px;
	height:200px;
	margin:0 auto;
}
.percent.align-left{
	margin:0;
}
.percent.align-left.title{
	padding:0 0 0 20px;
}

.percent-4{
	width:150px;
	height:150px;
	margin:0 auto;
}
.percent-5{
	width:150px;
	height:150px;
	margin:0 auto;
}



/*============ blog ============ */

.ce-post-holder-1{
	width:100%;
	padding:0px;
	float:left;
	transition: all 0.3s ease-out 0s;
			box-shadow: 0 20px 20px rgba(0,0,0,0.14);
	-webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.14);
}
.ce-post-holder-1 .ce-post-img{
	position:relative;
	width:100%;
	padding:0px;
	float:left;
}
.ce-post-holder-1 .text-box{
	height:274px;
	padding:60px 50px 50px 50px;
}
.ce-post-holder-1 .text-box.one{
	height:274px;
}
.ce-post-holder-1 .text-box .blog-post-info span{
	color:#ff971c;
}

.ce-post-holder-1 .ce-post-img .arrow-up {
	position:absolute;
	width: 0;
	height: 0;
	left: 175px;
	bottom:0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #fff;
	z-index:2;
}
.ce-post-holder-1 .ce-post-img .arrow-down {
	position:absolute;
	width: 0;
	height: 0;
	left: 175px;
	top:0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
}

.ce-post-holder-1:hover{
-webkit-box-shadow: 1px 4px 20px -2px rgba(0,0,0,0.2);
  box-shadow: 1px 4px 20px -2px rgba(0,0,0,0.2);
  transform: translateY(-8px);
}




/*============ pages sidebar ============ */

.pages-sidebar-item {
    float: left;
    margin-bottom: 60px;
    width: 100%;
}
.pages-sidebar-item .social-links {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.pages-sidebar-item .social-links li {
    float: left;
    margin: 0;
    padding: 0;
}
.pages-sidebar-item .social-links li a {
    color: #101010;
    float: left;
    padding: 0 20px 0 0;
}
.pages-sidebar-item .social-links li a:hover {
    color: #ff971c;
}

.pages-newsletter {
    border: 1px solid #e4e4e4;
    float: left;
    height: 45px;
    padding: 10px;
    width: 100%;
}
.bg2-rightcol-links {
    float: left;
    padding: 0;
    width: 100%;
}

.pages-sidebar-item-title {
    font-size: 20px;
    margin-bottom: 25px;
}

.pages-sidebar-links {
    float: left;
    padding: 0;
    width: 100%;
}
.pages-sidebar-links li {
    border-bottom: 1px solid #ececec;
    float: left;
    width: 100%;
}
.pages-sidebar-links li a {
    float: left;
    padding: 10px 0;
    width: 100%;
}
.pages-sidebar-links li a:hover, .pages-sidebar-links li a.active {
    color: #ff971c;
}
.pages-sidebar-links li:last-child {
    border-bottom: medium none;
}
.pages-tags {
    margin: 0;
    padding: 0;
}
.pages-tags li {
    margin: 0;
    padding: 0;
}
.pages-tags li a {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    color: #727272;
    float: left;
    margin: 0 10px 10px 0;
    padding: 5px 15px;
}
.pages-tags li a:hover, .pages-tags li a.active {
    background-color: #14bbf2;
    color: #fff;
}

/*============ Site map ============ */

ul.sitemap {
    margin: 0;
    padding: 0;
}
ul.sitemap li {
    margin: 0 0 8px;
}
ul.sitemap li a {
    color: #ff971c;
}
ul.sitemap li a:hover {
    text-decoration: underline;
}
ul.sitemap li ul {
    padding-left: 30px;
}

/*============ 404 page ============ */
.error_holder {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 60%;
}
.error_holder.two {
    text-align: left;
    width: 100%;
}
.error_holder .title {
    font-size: 110px;
    font-weight: 400;
    line-height: 65px;
    margin: 0;
    padding: 30px 0;
}
.error_title_big {
    font-size: 200px;
    font-weight: bold;
    line-height: 65px;
    margin: 0;
    padding: 30px 0;
}
.error-search-box {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.error-search-box .email_input {
    border: 1px solid #e4e4e4;
    color: #727272;
    height: 50px;
    width: 70%;
	padding:15px;
}
.error-search-box .input_submit {
    background-color: #ff971c;
    border: 1px solid #ff971c;
    color: #fff;
    height: 50px;
    transition: all 0.3s ease-out 0s;
    width: 20%;
}
.error-search-box .input_submit:hover {
    background-color: #242424;
    border: 1px solid #242424;
}
.error-title-big {
    font-size: 200px;
    font-weight: bold;
    line-height: 65px;
    margin: 0;
    padding: 30px 0;
}


/*============ portfolio single page ============ */

.port-project-info {
	width:100%;
	float:left;
	padding:40px;
	border:1px solid #f1f1f1;
}
.port-project-info li {
	padding:0 0 10px 0;
	margin:0px;
}
.port-project-info li span {
    color: #101010;
    display: inline-block;
    font-weight: 700;
    width: 150px;
}
.port-project-info li span i {
    margin-right: 7px;
    position: relative;
    text-align: center;
    top: 1px;
    width: 14px;
}

/*============ comment page input ============ */
.bg-cinput {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    color: #101010;
    float: left;
    height: 45px;
    margin-bottom: 15px;
    padding: 8px;
    transition: all 0.3s ease-out 0s;
    width: 100%;
}
.bg-ctexteria {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    color: #101010;
    float: left;
    margin-bottom: 15px;
    padding: 8px;
    transition: all 0.3s ease-out 0s;
    width: 100%;
	height: 160px;
}


/*============ blog oagenation ============ */

ul.blog-pagenation {
    margin: 30px 0 0 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.blog-pagenation li {
    display: inline;
    margin: 0;
    padding: 0;
}
.blog-pagenation li a {
    border: 1px solid #e9e9e9;
    color: #101010;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 10px 0 0;
    padding: 0;
    text-align: center;
    width: 40px;
	background-color:#fff;
}
.blog-pagenation li a:hover, .blog-pagenation li a.active {
    background-color: #ff971c;
    border: 1px solid #ff971c;
    color: #fff;
}

/* video wrapper
 ------------------------------ */
.bg2-video-wrapper{
	width:100%;
	float:left;
	padding:0px;
}
.bg2-video-wrapper iframe{
	width:700px;
	height:415px;
}

/* video wrapper
 ------------------------------ */

.flexslider .feature-box-1 {
position: absolute;
width:700px;
padding:100px;
float:left;
margin:150px 0 0 200px;
z-index:2;
background-color:#ff971c;
}



.ce-newsletter-1 {
	width: 100%;
	height: 60px;
	float: left;
	padding: 20px;
	border: 1px solid #fff;
	background-color: #fff;
	}

.newsletter-submit-btn {
    width: 100%;
    height: 60px;
    float: left;
    padding: 0px;
	margin-top:5px;
	color:#fff;
	text-transform:uppercase;
	border: 1px solid #ff971c;
	background-color: #ff971c;
}

.ce-newsletter-2 {
	width: 80%;
	height: 60px;
	margin:0 auto;
	padding: 20px;
	border-radius:40px;
	text-align:center;
	border: 1px solid #fff;
	background-color: #fff;
	}

.ce-newsletter-2-btn {
    width: 40%;
    height: 60px;
    padding: 0px;
	margin:15px auto 0 auto;
	color:#fff;
	text-transform:uppercase;
    border-radius:40px;
	border: 1px solid #14bbf2;
	background-color: #14bbf2;
}
.ce-newsletter-2-btn.dark {
	color:#fff;
	border: 1px solid #242424;
	background-color: #242424;
}


/* blog inner pages
 ------------------------------ */

.cb-feature-box-1{
	width:100%;
	float:left;
	transition: all 0.3s ease-out 0s;
}

.cb-feature-box-1.hover-shadow:hover{
	-webkit-box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.1);
box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.1);
}
.cb-feature-box-1.active.hover-shadow{
	-webkit-box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.1);
box-shadow: 0px 0px 40px -1px rgba(0,0,0,0.1);
}


.cb-feature-box-1 .img-box img{
	transition: all 0.3s ease-out 0s;
}
.cb-feature-box-1 .img-box{
	position:relative;
	width:100%;
	float:left;
	overflow:hidden;
}
.cb-feature-box-1:hover .img-box img {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.cb-feature-box-1 .postinfo-box{
	width:100%;
	float:left;
	padding:100px;
	margin:0px 0 40px 0;
	background-color:#fff;
}
.cb-feature-box-1 .img-box .postdate-box{
	position:absolute;
	float:left;
	padding: 50px;
	z-index:2;
	right:0px;
	bottom:0px;
	background-color:#ff971c;
}
.cb-feature-box-1 .img-box .blog-post-info span{
	font-size:18px;
	color:#fff;
}

.cb-feature-box-1 .postinfo-box .title a:hover{
	color:#ff971c;
}
.cb-feature-box-1.border{
	border:1px solid #e9e9e9;
}


.cb-feature-box-1.less-padd .postinfo-box{
	padding:60px;
}
.cb-feature-box-1.less-padd-2 .postinfo-box{
	padding:80px;
}
.cb-feature-box-1 .img-box .postdate-box.less-padd-1{
	padding: 20px;
}
.cb-feature-box-1 .img-box .postdate-box.less-padd-2{
	padding: 10px;
}

.cb-feature-box-1.no-margin .postinfo-box{
	margin:0px 0 0 0;
}


/*  blog feature box 2
 ------------------------------ */

.cb-featurebox-2{
	width:100%;
	float:left;
	padding:30px 13px;
	border:1px solid #e4e4e4;
	background-color:#fff;
}


/*Contact Form*/
#form_status span{
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	background: #E74C3C;
	width: 100%;
	text-align: center;
	display: inline-block;
	padding: 10px 0px;
	border-radius: 3px;
	margin-bottom: 18px;
}
#form_status span.loading{
	color: #333;
	background: #eee;
	border-radius: 3px;
	padding: 18px 0px;
} 
#form_status span.notice{
	color: yellow;
}
#form_status .success{
	color: #fff;
	text-align: center;
	background: #2ecc71;
	border-radius: 3px;
	padding: 30px 0px;
}
#form_status .success i{
	color: #fff;
	font-size: 45px;
	margin-bottom: 14px;
}
#form_status .success h3{
	color: #fff;
	margin-bottom: 10px;
}
.cforms label {
	float: left;
	width: 100%;
	color: #999;
	font-weight: 600;
}
.cforms label em {
	color: #999;
	font-size: 12px;
	font-style: normal;
}
.cforms input {
	color: #fff;
	float: left;
	width: 100%;
	padding: 9px 12px;
	margin-bottom: 10px;
	border: none;
	background: none;
	-webkit-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,0.4);
	-moz-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,0.4);
	box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,0.4);
}
.cforms textarea {
	color: #fff;
	float: left;
	width: 100%;
	padding: 9px 12px;
	margin-bottom: 10px;
	border: none;
	background: none;
	-webkit-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,0.4);
	-moz-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,0.4);
	box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,0.4);
}
.cforms .button {
	float: left;
	margin-top: 10px;
	color: #fff;
	padding: 12px 20px;
	font-size: 14px;
	font-weight: 600;
	background: #676767;
	border: 1px solid #676767;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.cforms .button:hover {
	background: #999;
	border: 1px solid #999;
}


.cforms_sty2 label {
	float: left;
	width: 100%;
	color: #fff;
	font-weight: 600;
	text-align: left;
}
.cforms_sty2 label em {
	color: #fff;
	font-size: 12px;
	font-style: normal;
}
.cforms_sty2 input {
	color: #fff;
	float: left;
	width: 100%;
	padding: 9px 12px;
	margin-bottom: 12px;
	border: 1px solid #fff;
	background: none;
	-webkit-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
}
.cforms_sty2 textarea {
	color: #fff;
	float: left;
	width: 100%;
	padding: 9px 12px;
	margin-bottom: 10px;
	border: 1px solid #fff;
	background: none;
	-webkit-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
}
.cforms_sty2 .button {
	margin-top: 30px;
	color: #181818;
	padding: 18px 34px;
	font-size: 14px;
	font-weight: 600;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.3s ease;
}
.cforms_sty2 .button:hover {
	color: #fff;
	background: #2ecc71;
	border: 1px solid #2ecc71;
}


/* contact form */
.cforms_sty3 label {
	width: 100%;
	color: #454545;
	font-size:14px;
	font-weight: normal;
}

.cforms_sty3 label em {
	color: #2ecc71;
	font-size: 12px;
	font-style: normal;
}

.cforms_sty3 input {
	color: #454545;
	float: left;
	width: 100%;
	padding: 9px 12px;
	margin-bottom: 10px;
	border: 1px solid #eee;
	background: #f9f9f9;
	-webkit-box-shadow: inset 1px 0px 2px 0px rgba(238,238,238,1);
	-moz-box-shadow: inset 1px 0px 2px 0px rgba(238,238,238,1);
	box-shadow: inset 0px 1px 2px 0px rgba(238,238,238,1);
}

.cforms_sty3 textarea {
	color: #454545;
	float: left;
	width: 100%;
	padding: 9px 12px;
	margin-bottom: 10px;
	border: 1px solid #eee;
	background: #f9f9f9;
	-webkit-box-shadow: inset 1px 0px 2px 0px rgba(238,238,238,1);
	-moz-box-shadow: inset 1px 0px 2px 0px rgba(238,238,238,1);
	box-shadow: inset 0px 1px 2px 0px rgba(238,238,238,1);
}

.cforms_sty3 .button {
	float: left;
	margin-top: 10px;
	color: #fff;
	padding: 14px 20px;
	font-size: 14px;
	font-weight: 500;
	background: #ff971c;
	border: 1px solid #ff971c;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	transition: all 0.3s ease;
}
.cforms_sty3 .button:hover {
	background: #454545;
	border: 1px solid #393939;
}

.cforms_sty3 .button2 {
	float: left;
	margin-top: 10px;
	color: #fff;
	padding: 14px 20px;
	font-size: 14px;
	font-weight: 500;
	background: #d2527f;
	border: 1px solid #d2527f;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	transition: all 0.3s ease;
}
.cforms_sty3 .button2:hover {
	background: #727272;
	border: 1px solid #393939;
}

.cforms_sty3 .button3 {
	float: left;
	margin-top: 10px;
	color: #fff;
	padding: 18px 30px;
	font-size: 14px;
	font-weight: 500;
	background: #db6364;
	border: 1px solid #db6364;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	transition: all 0.3s ease;
}
.cforms_sty3 .button3:hover {
	background: #454545;
	border: 1px solid #454545;
}

/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {

.ce-feature-box-8:hover .img-box .overlay .text-box{
	top:80px;
}
.ce-feature-box-14 {
    padding: 0;
}
.ce-feature-box-15 {
    margin-bottom: 350px;

}
.ce-feature-box-13 {
    padding: 20px;
}
.ce-feature-box-1 {
    margin-bottom: 40px;
}

.ce-feature-box-34 .img-box .text-box {
    top: 380px;
}
.ce-feature-box-34 .img-box {
    margin-bottom: 240px;

}














}
	
@media only screen and (max-width: 1000px) {
	


}	

	
	
/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {
.ce-feature-box-1 {
    margin-bottom: 20px;

}
.ce-feature-box-2 .main-box .img-box .overlay {
    left: -360px;
}
.ce-feature-box-4 .img-box .text-box {
    top: 400px;
}
.ce-feature-box-7 .bgbox {
    height: 700px;
}
.ce-feature-box-15 {
    margin-bottom: 470px;

}
.ce-feature-box-15 {
    margin-bottom: 795px;
}
.ce-feature-box-29 .img-box {
    margin-bottom: 30px;
}

.ce-feature-box-33 .img-box .text-box {
    top: 270px;
}
.ce-feature-box-33 .img-box {
    margin-bottom: 260px;

}










}



/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {
















}



/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {

.ce-feature-box-4 .img-box {
    margin-bottom: 205px;

}
.ce-feature-box-21 {
    padding: 50px;

}
.ce-feature-box-27 h2 {
	font-size:20px;
	line-height:30px;

}
.ce-feature-box-27 .content.pos-1 {

    padding: 180px 0 0 0;

}
.ce-feature-box-27 .play-btn-img {
    width: 100px;
    height: 100px;
}
.ce-feature-box-15 .img-box .overlay .scbox {
    padding: 20px;

}
.ce-feature-box-15 {
    margin-bottom: 600px;
}















}


/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}


@media screen and (max-width: 640px) {

.ce-feature-box-3 .img-box {
    margin-bottom: 50px;

}
.ce-feature-box-1 {
    position: static;
}

.ce-feature-box-2 .main-box .img-box .overlay {
    left: -630px;
}

.ce-feature-box-4 .img-box {
    margin-bottom: 295px;
}

.ce-feature-box-15 {
    margin-bottom: 610px;
}
.ce-feature-box-15 {
    margin-bottom: 785px;
}
.ce-feature-box-29 .img-box {
    margin-bottom: 85px;
}
.ce-feature-box-15 .img-box .overlay .scbox {
    padding: 0px;

}
.ce-feature-box-33 .img-box {
    margin-bottom: 360px;
}















}


@media screen and (max-width: 480px) {
	
.ce-feature-box-4 .img-box .text-box {
    top: 270px;
}

.ce-feature-box-7 .bgbox {
    height: 455px;
}
.ce-feature-box-8 {
    margin-bottom: 185px;
}

.ce-feature-box-6 {
	margin:5px 0;

}
.ce-feature-box-15 {
    margin-bottom: 665px;
}
.ce-feature-box-29 .img-box {
    margin-bottom: 200px;
}
.ce-feature-box-15 {
    margin-bottom: 575px;
}
.ce-feature-box-33 .img-box {
    margin-bottom: 545px;
}

.ce-feature-box-34 .img-box .text-box {
    top: 280px;
}
.ce-feature-box-34 .img-box {
    margin-bottom: 365px;
}














}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {

.ce-feature-box-7 .bgbox {
    height: 345px;

}
.ce-feature-box-8 {
    margin-bottom: 135px;
}
.ce-feature-box-4 .img-box .text-box {

    top: 195px;

}
.ce-feature-box-4 .img-box {
    margin-bottom: 400px;
}
.ce-feature-box-6 {
    padding: 25px;

}
.ce-feature-box-7 .play-btn-img {
    top: 130px;

}
.ce-feature-box-15 {
    margin-bottom: 450px;
}
.ce-feature-box-15 {
    margin-bottom: 515px;
}
.ce-feature-box-18 {
    padding: 50px;
}
.ce-feature-box-15 {

    margin-bottom: 415px;

}
.ce-feature-box-33 .img-box .text-box {
    top: 180px;
}
.ce-feature-box-33 .img-box {
    margin-bottom: 535px;
}
.ce-feature-box-33 .img-box .text-box {
    padding: 30px;
}
.ce-feature-box-34 .img-box .text-box {
    padding: 30px;

}
.ce-feature-box-34 .img-box {
    margin-bottom: 445px;
}












}


/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {

.ce-feature-box-4 .img-box .text-box {
    padding: 20px;
}
.ce-feature-box-4 .img-box .text-box {
    top: 175px;
}
.ce-feature-box-18 {
    padding: 45px;
}
.ce-feature-box-34 .img-box .text-box {
    top: 180px;
}






}
