.main-nav li a {
	font-weight: bold;
	color: white !important;
}


.main-nav li.active, .main-nav li:hover {
	background-color: #14ABF2;
}

.main-nav li.active a, .main-nav li:hover > a {
	color: white !important;
}

.sec-padding {
	padding-top: 50px;
	padding-bottom: 50px;
}

.sec-title-container {
	padding-bottom: 20px !important;
}

.tour-wrapper .text-box {
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.1) !important;
	padding: 10px 18px !important;
}

.header-section.style1.pin-style.pin-start.off.before.pin {
	background-color: rgba(0,0,0,0.8) !important;
}

.header-section.dark.dark-dropdowns.style1.links-dark.pin-style {
	background-color: rgba(0,0,0,0.8) !important;
}

.testimonial-wrapper > div, .gallery-wrapper > div  {
	padding-bottom: 15px;
	padding-top: 15px;
}

.help-block.error {
	color: #ff5b67;
	font-size: 12px;
	padding-top: 0px !important;
}


.font-size-1 {
	font-size: 12px;
}
.font-size-2 {
	font-size: 14px;
}
.font-size-3 {
	font-size: 16px;
}
.font-size-4 {
	font-size: 18px;
}
.font-size-5 {
	font-size: 20px;
}
.font-size-6 {
	font-size: 22px;
}

/*.header-section.style1.pin-style.pin-start.off.before.pin li a {*/
/*	color: black !important;*/
/*}*/

@media (min-width: 0px) and (max-width: 759px) {
	.tour-wrapper .ce-feature-box-3 {
		margin-bottom: 100px;
	}
}

@media (min-width: 760px) and (max-width: 991px) {

	.tour-wrapper .ce-feature-box-3 {
		margin-bottom: 0px;
	}

	.tour-wrapper .ce-feature-box-3 img {
		width: 100%;
	}

	.tour-wrapper .ce-feature-box-3 .img-box {
		margin-bottom: 80px;
	}

	.tour-wrapper .ce-feature-box-3 .text-box {
		top: 350px;
	}
}

@media (min-width: 992px) {

	.tour-wrapper .ce-feature-box-3 {
		margin-bottom: 0px;
	}
}

@media (min-width: 1200px) {

	.tour-wrapper .ce-feature-box-3 {
		margin-bottom: 0px;
	}
}
